In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats as sp
import streamlit as st
import plotly.express as px

df = pd.read_csv('../datasets/vehicles_us.csv')
df.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

In [11]:
#df.info()
df = df.sort_values(by='odometer', ascending=True)
print(df[(df['odometer']> 0) & (df['odometer']<100)])

       price  model_year             model  condition  cylinders fuel  \
23987      1      2007.0   chevrolet tahoe   like new        NaN  gas
31124   9500      2000.0     toyota tundra       good        8.0  gas
23811      1      2007.0   chevrolet tahoe   like new        8.0  gas
3695    2995      1992.0      ford mustang       fair        4.0  gas
23804      1      2007.0   chevrolet tahoe   like new        8.0  gas
...      ...         ...               ...        ...        ...  ...
25242  32500      1968.0  chevrolet camaro  excellent        8.0  gas
38846  10900         NaN         ford edge   like new        6.0  gas
40332   3975      2004.0  chevrolet impala  excellent        6.0  gas
24762   7595      2011.0      toyota camry  excellent        4.0  gas
3124    7100      2008.0        honda cr-v  excellent        4.0  gas

       odometer transmission         type paint_color  is_4wd date_posted  \
23987       1.0    automatic          SUV        blue     NaN  2018-07-21
31124       1.0    automatic        truck         red     1.0  2019-02-02
23811       1.0    automatic          SUV        blue     NaN  2018-07-02
3695        1.0    automatic  convertible         red     NaN  2018-08-06
23804       1.0    automatic          SUV        blue     NaN  2019-01-21
...         ...          ...          ...         ...     ...         ...
25242      99.0    automatic        other      yellow     NaN  2018-10-08
38846      99.0    automatic          SUV       brown     NaN  2019-03-20
40332      99.0    automatic        sedan        grey     NaN  2018-06-19
24762      99.0    automatic        sedan         red     NaN  2018-05-14
3124       99.0    automatic          SUV       black     NaN  2018-05-14

       days_listed
23987           61
31124           13
23811           47
3695            10
23804           54
...            ...
25242           52
38846           21
40332           81
24762           30
3124            42

[185 rows x 13 columns]

In [11]:
st.header('Car Types by Manufacturer')
fig = px.histogram(df, x='model', color='model_year')
st.write(fig)

2025-01-12 22:36:08.971
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\pamad\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [26]:
st.header('Car Types by Manufacturer')
fig = px.histogram(df, x='model', color='type')
st.write(fig)